<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.springimplant"/>
    <bean id="vehicle" class="com.springimplant.XMLInjection.Car"/>
    <bean id="tyreSetter" class="com.springimplant.XMLInjection.TyreSetter">
        <property name="brand" value="Bridgestone"/>
    </bean>
    <bean id="nulltyreSetter" class="com.springimplant.XMLInjection.TyreSetter">
    </bean>
    <bean id="tyreConstructed" class="com.springimplant.XMLInjection.TyreConstructor">
       <constructor-arg value="MRF"/>
    </bean>
</beans>